@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import "modules/navigation.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: radial-gradient(
    circle,
    rgba(255, 141, 0, 1) 62%,
    rgba(0, 0, 0, 1) 100%
  );
}
h3 {
  color: green;
}
a {
  color: rgb(47, 129, 47);
}

.site-header {
  color: rgb(2, 2, 95);
}
.acticle__header::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(255, 132, 0);
  background: radial-gradient(
    circle,
    rgba(255, 132, 0, 1) 14%,
    rgba(0, 0, 0, 1) 55%
  );
}
.acticle__header::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(255, 132, 0);
  background: radial-gradient(
    circle,
    rgba(255, 132, 0, 1) 14%,
    rgba(0, 0, 0, 1) 55%
  );
}

.acticle:hover {
  background: white;
}

.main {
  max-width: 800px;
  margin: 0 auto;
}

.article {
  width: 600px;
  margin: 20px auto;
}

.image {
  width: 600px;
  margin: 10px auto;
}

.hamburger {
  display: none;
}
.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 16px;
}

.main-section {
  display: grid;
  grid-template-areas:
    "header header"
    "article aside"
    "footer footer";
  grid-template-columns: 1fr 200px;
  column-gap: 16px;
  row-gap: 16px;
  &__header {
    grid-area: header;
  }
  &__article {
    grid-area: article;
  }
}

.main .aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}

@media screen and (max-width: 768px) {
  body {
    background: rgb(254, 254, 254);
    background: radial-gradient(
      circle,
      rgba(254, 254, 254, 0.8491771708683473) 16%,
      rgba(0, 8, 227, 1) 100%
    );
    margin: 16px;
  }
  .section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 16px;
  }
  .main-section {
    display: grid;
    grid-template-areas:
      "header"
      "article"
      "aside"
      "footer";
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  body {
    background: rgb(121, 26, 0);
    background: radial-gradient(
      circle,
      rgba(121, 26, 0, 1) 4%,
      rgba(18, 60, 0, 1) 81%
    );
    margin: 16px;
  }

  .main {
    margin: 80px auto 0;
  }

  .heading {
    min-height: 40px;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
  }
  .section {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }
  .main-section {
    display: grid;
    grid-template-areas:
      "header"
      "article"
      "aside"
      "footer";
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }

  .navigation {
    background: #fefefe;
    max-width: 600px;
    margin: 0px;
    padding: 0px;
    display: none;
    justify-content: space-around;
  }

  .navigation__link {
    color: black;
    padding: 5px;
    display: block;
    text-decoration: none;
  }

  .navigation--open {
    display: block;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background: black;
    color: black;
  }
}
